<template>
  <div class="previous">
    <table>
      <div class="table-name">
        Previous Bookings
      </div>
      <thead>
      <tr class="header">
        <th>Port</th>
        <th>People</th>
        <th>Stay</th>
        <th>Spot</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-hover" v-for="item in bookingsData" :key="item.name">
        <tr>
          <td>{{ item.port }}</td>
          <td><img src="../../assets/icons/peopleIcon.jpg" class="icon"> {{ item.passengers }}</td>
          <td>{{ item.startTime }} - {{ item.endTime }}</td>
          <td>{{ item.placeId }}</td>
        </tr>
        </tbody>
      </div>
    </table>
  </div>
</template>

<script>
import {getAllUserBookings} from "../../../../portbooker-backend/services/BookingsService";
import firebase from "../../../../portbooker-backend/firebase";

export default {
  async created() {
    await firebase.auth().onAuthStateChanged(async (user) => {
      if (user) {
        await getAllUserBookings(user.uid).then(bookings => {
              this.bookingsData = bookings[1]
            }
        );
      }
    });
  },
  data() {
    return {
      logo: require("@/assets/portbooker.png"),
      bookingsData: []
    };
  },
};
</script>

<style scoped>

.icon {
  height: 15px;
  width: 15px;
}

.previous {
  padding-top: 45px;
}

.table-name {
  background: #a8d0e6;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  padding: 8px;
  max-width: 954px;
  width: 100%;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 300px;
  max-width: 970px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 20px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 180px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.header th {
  font-weight: bold;
  vertical-align: middle;
}

.header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 80px;
  padding-right: 30px;
}

.header th:nth-child(2) {
  padding-left: 20px;
  margin-left: 20px;
  padding-right: 40px;
}

.header th:nth-child(3) {
  padding-left: -60px;
  padding-right: 80px;
}

.header th:nth-child(3) {
  padding-left: 40px;
  margin-left: 40px;
  padding-right: 40px;
}

.header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 20px;
}

.scrollbar td:nth-child(5) {
  padding-left: 80px;
}

.scrollbar td:last-child {
  padding-right: 10px;
}

tr {
  background-color: #eef4f8;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #a8d0e6;
  color: #24305e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 5px 50px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  width: 135px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 490px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>