.white-bold-text {
    color: #EEF4F8;
    font-size: 20px;
    font-weight: bold;
}
.blue-bold-text {
    color: #24305E;
    font-size: 20px;
    font-weight: bold;
}
.blue-bold-header {
    color: #24305E;
    font-size: 32px;
    font-weight: bold;
}
.white-small-text {
    color: #EEF4F8;
    font-size: 15px;
}
.white-mid-text {
    color: #EEF4F8;
    font-size: 18px;
}
.blue-mid-text {
    color: #24305E;
    font-size: 20px;
    font-weight: normal;
}
.blue-small-text {
    color: #24305E;
    font-size: 15px;
}
.blue-big-text {
    color: #24305E;
    font-size: 24px;
}
