<template>
  <div>
    <SideBar/>
    <div class="mainBox">
      <h1 class="blue-bold-header">Ports near me</h1>
      <PortRow :listOfPorts="portsNearMe" />
      <h1 class="blue-bold-header">Recently visited</h1>
      <PortRow :listOfPorts="recentlyVisited"/>
      <h1 class="blue-bold-header">Most popular</h1>
      <PortRow :listOfPorts="mostPopular" />
    </div>
  </div>
</template>

<script>
import PortRow from "@/BoatOwner/components/PortRow.vue";
import SideBar from "../components/Sidebar";
import {getAllPorts} from "../../../../portbooker-backend/services/PortsService"

export default {
  created() {
    getAllPorts()
        .then((data) => (this.portsData = data));
  },
  components: {
    PortRow,
    SideBar
  },
  computed: {
    portsNearMe: function () {
      const size = this.portsData.length;
      const third = Math.ceil(size / 3);

      return this.portsData.slice(0, third);
    },
    recentlyVisited: function () {
      const size = this.portsData.length;
      const third = Math.ceil(size / 3);

      return this.portsData.slice(third, 2 * third);
    },
    mostPopular: function () {
      const size = this.portsData.length;
      const third = Math.ceil(size / 3);

      return this.portsData.slice(2 * third);
    },
  },
  data() {
    return { portsData: []};
  },
};
</script>

<style scoped>
@import "../../assets/css/textStyles.css";
.mainBox {
  margin-left: 20%;
  background-color: white;
  border-radius: 10px;
  width: 70%;
}
h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  background-color: #a8d0e6;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
</style>
