<template>
  <div>
    <img :src="logo" class="logo" />
    <h1 id="success">Booking has been successfully made</h1>
    <h2>It will be confirmed after the payment.</h2>
    <div class="buttonDiv">
      <blue-button-s
        class="centerButton"
        msg="Book another place"
        @click="goBackHome"
      ></blue-button-s>
      <blue-button-s
        class="centerButton"
        msg="Log out"
        @click="logOut"
      ></blue-button-s>
    </div>
  </div>
</template>

<script>
import BlueButtonS from "@/shared/components/buttons/BlueButtonS.vue";
import PortBookerBlueLogo from "@/assets/PortBookerBlueLogo.png";
import PageNotFoundShip from "@/assets/PageNotFoundShip.png";

export default {
  components: {
    BlueButtonS,
  },
  methods: {
    goBackHome() {
      this.$router.push("/browse");
    },
    logOut() {
      this.$router.push("/");
    },
  },
  data: function () {
    return {
      logo: PortBookerBlueLogo,
      boatImage: PageNotFoundShip,
    };
  },
};
</script>

<style scoped>
h1 {
  text-align: center;
}
h2 {
  color: #374785;
  margin: 2%;
  text-align: center;
}

#success {
  color: #3cb371;
}

.logo {
  margin-top: 5%;
  width: 35%;
  margin-bottom: 2%;
  min-width: 300px;
}
.buttonDiv {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerButton {
  margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 24px;
  }
  
  .logo {
    padding: 5%;
    margin-top: 10%;
  }

  .boatImage {
    margin-top: 10%;
  }
}
</style>
