<template>
  <div>
    <SideBar />
    <Table :incomingBookings="incomingBookingsData"/>
  </div>
</template>

<script>
import SideBar from "../components/PortCaptainSidebar";
import Table from "../components/IncomingBookingsTable.vue";
export default {
  created() {
    fetch("../incoming-bookings.json")
        .then(response => response.json())
        .then(data => (this.incomingBookingsData = data));
  },
  name: "IncomingBookings",
  components: {
    SideBar,
    Table
  },
  data() {
    return { incomingBookingsData: []};
  },
};
</script>

<style scoped>
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
div {
  margin-top: 1.5%;
  margin-left: 15%;
}

input {
  margin: 10px;
}

a {
  font-weight: 400;
}
</style>

