<template>
  <div>
    <SideBar />
    Settings
  </div>
</template>

<script>
import SideBar from "../components/PortCaptainSidebar";
export default {
  name: "Settings",
  components: {
    SideBar
  }
};
</script>

<style>

</style>