<template>
  <div class="entire-component">
    <div v-if="error" class="error">{{ error.message }}</div>
    <img :src="blueLogo" class="logo-image" alt="PortBooker"/>
    <div class="login-component">
      <div class="formbg-outside">
        <div class="form-background">
          <div class="formbg-inside blue-bold-text">
            <span class="welcome-message blue-bold-text">Apply for account</span>
            <form @submit.prevent="pressed" id="login-form">
              <div class="column-pos">
                <div class="first-column">
                  <div class="fill-field field">
                    <label class="blue-small-text">Port captain's full name</label>
                    <input
                        type="text"
                        v-model="fullName"
                        name="fullName"
                        placeholder="Full name..."
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Email</label>
                    <input
                        type="email"
                        v-model="email"
                        name="email"
                        placeholder="Email..."
                    />
                  </div>
                  <div class="fill-field field">
                    <div class="password-field">
                      <label class="blue-small-text">Password</label>
                    </div>
                    <input
                        type="password"
                        v-model="password"
                        name="password"
                        placeholder="Password..."
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Phone number</label>
                    <input
                        type="tel"
                        v-model="phone"
                        name="phone"
                        placeholder="Phone number..."

                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Name of your port</label>
                    <input
                        type="text"
                        v-model="portName"
                        name="portName"
                        placeholder="Name..."
                    /></div>
                </div>
                <div class="second-column">

                  <div class="fill-field field">
                    <label class="blue-small-text">Address</label>
                    <input
                        type="text"
                        v-model="address"
                        name="address"
                        placeholder="Address..."
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Coordinates</label>
                    <input
                        type="text"
                        v-model="coordinates"
                        name="coordinates"
                        placeholder="Coordinates..."
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Radio call</label>
                    <input
                        type="text"
                        v-model="radioCall"
                        name="radioCall"
                        placeholder="Radio call..."
                    />
                  </div>
                  <div class="fill-field field">
                    <label class="blue-small-text">Webpage</label>
                    <input
                        type="text"
                        v-model="webpage"
                        name="webpage"
                        placeholder="Webpage..."
                    />
                  </div>
                  <BlueButtonL
                      type="submit"
                      method="post"
                      msg="Apply"
                      name="Apply"
                      class="submit-button"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link">
          <span class="blue-small-text"
          >Have an account?
            <a class="blue-bold-text" id="sign-up-underline" href="/admin"
            >Log in</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {BlueButtonL} from "../../shared/components/buttons";
import {PortsService} from "../../../../portbooker-backend/services/PortsService"
import {addCaptain} from "../../../../portbooker-backend/services/UserCaptainService";

require("firebase/auth");
export default {
  name: "loginComponent",
  components: {BlueButtonL},
  data: function () {
    return {
      blueLogo: require("@/assets/portbookerLogoBlue.svg"),
      password: "",
      email: "",
      error: "",
      fullName: "",
      phone: "",
      portName: "",
      address: "",
      coordinates: "",
      radioCall: "",
      webpage: ""

    };
  },
  methods: {
    async pressed() {
      try {
        await addCaptain(this.fullName, this.email, this.password, this.phone, this.portName)
        const newPort = new PortsService(this.address, this.alt, this.coordinates, this.email, this.mobile, this.portName, null, this.radioCall, this.webpage)
        await newPort.addPortApplication()
        await this.$router.push("/admin/login")
      } catch (err) {
        alert(err.message);
      }
    },
  },
};
</script>
<style scoped>
@import "../../assets/css/textStyles.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.column-pos {
  display: flex;
  justify-content: space-between;
}

#sign-up-underline {
  text-decoration: underline;
}

h1 {
  letter-spacing: -1px;
}

.entire-component {
  z-index: 1;
}

a {
  text-decoration: unset;
}

.fill-field {
  padding-bottom: 24px;
}

.footer-link {
  padding-top: 24px;
}

.welcome-message {
  padding-bottom: 10px;
}

a:visited {
  color: #24305e;
}

.logo-image {
  padding-bottom: 12px;
  width: 35%;
}

.formbg-inside {
  padding: 20px 40px 10px 40px;
}

form {
  display: flex;
  justify-content: space-between;
}


.formbg-outside {
  padding-bottom: 0;
}

.login-component {
  box-sizing: border-box;
  position: absolute;
  justify-content: center;
  background: transparent;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.submit-button {
  width: 100%;
  margin-top: 12px;
}

.form-background {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 415px;
  height: 100%;
  max-height: 470px;
  min-height: 415px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0,
  rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

span {
  display: block;
  line-height: 20px;
}

label {
  margin: auto 0 0px 0;
  text-align: left;
}

.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}

.password-field {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.first-column {
  margin: 0 10px;
}

.second-column {
  margin: 0 10px;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212);
  background-color: rgb(255, 255, 255);
  box-shadow: #3c4257 0 0 0 1px;

}


input[method="post"] {
  background-color: rgb(84, 105, 212);
  border: solid 1px rgba(60, 66, 87, 0.16);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-link span {
  text-align: center;
}
</style>
