<template>
  <div class="incoming">
    <table>
      <div class="table-name">
        Incoming Bookings
      </div>
      <thead>
      <tr class="header">
        <th>Name</th>
        <th>People</th>
        <th>Stay</th>
        <th>Spot</th>
        <th>Paid</th>
      </tr>
      </thead>
      <div class="scrollbar">
        <tbody class="table-hover" v-for="incomingBooking in incomingBookings" :key="incomingBooking.name">
        <tr>
          <td>{{ incomingBooking.name }}</td>
          <td><img src="../../assets/icons/peopleIcon.jpg" class="icon">{{ incomingBooking.people }}</td>
          <td>{{ incomingBooking.stay }}</td>
          <td>{{ incomingBooking.spot }}</td>
          <td v-if="incomingBooking.paid === true"><img src="../../assets/icons/greenCheckmark.svg" class="icon" alt="true"></td>
          <td v-if="incomingBooking.paid === false"><img src="../../assets/icons/redCross.svg" class="icon" alt="false"></td>
          <td><img src="../../assets/icons/editIcon.svg" class="edit"></td>
        </tr>
        </tbody>
      </div>
    </table>

  </div>
</template>

<script>

export default {
  name: "incomingBookings",
  props: {
    incomingBookings: Array,
    incomingBooking: {
      name: String,
      people: String,
      stay: String,
      spot: Number,
      paid: Boolean,
    },
  },
  data() {
    return {
      logo: require("../../assets/portbooker.png"),
    };
  },
};
</script>

<style scoped>
.icon {
  height: 15px;
  width: 15px;
}

.edit{
  height: 20px;
  width: 20px;
  margin-top: 5px;
  cursor: pointer;

}

.incoming {
  padding-top: 45px;
}

.table-name {
  background: #a8d0e6;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  padding: 12px;
  max-width: 945px;
  width: 100%;
  font-weight: bold;
}
table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 600px;
  max-width: 970px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 20px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 140px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.header th {
  font-weight: bold;
}
.header th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.header th:nth-child(3) {
  padding-left: 50px;
  padding-right: 40px;
}
.header th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 80px;
}

.scrollbar td:nth-child(5) {
  padding-left: 80px;
}
.scrollbar td:last-child {
  padding-right: 10px;
}

tr {
  background-color: #eef4f8;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td{
  background: #a8d0e6;
  color: #24305e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 5px 50px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 490px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}
</style>
