<template>
  <div>
    <div class="sideBar">
      <img id="logo" alt="Portbooker" src="@/assets/portbookerWhite.png"/>
      <div class="fullNavigation">
        <div class="accountInfo">
          <img
              class="profilepic"
              src="@/assets/profilepic.png"
              alt="profilepicture"
          />
          <h3 class="accountName white-mid-text">{{ username }}</h3>
        </div>
        <div class="navigation">
          <h3>Menu</h3>
          <router-link to="/browse">
            <button class="white-small-text" id="button1" @click="onClick(1)">
              Browse ports
            </button>
          </router-link>
          <router-link to="/mybookings">
            <button class="white-small-text" id="button2" @click="onClick(2)">
              My bookings
            </button>
          </router-link>
        </div>
        <div class="account">
          <h3>Account</h3>
          <router-link to="/info">
            <button class="white-small-text" id="button3" @click="onClick(3)">
              Account info
            </button>
          </router-link>
          <router-link to="/">
            <button class="white-small-text" id="button4" @click="signOut()">
              Log out
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../../../../../portbooker-backend/firebase";


require("firebase/auth");
import {getUser} from "../../../../../portbooker-backend/services/UsersService";

export default {
  async created() {
    await firebase.auth().onAuthStateChanged(async (user) => {
      if (user) {
        await getUser(user.uid).then(databaseUser => {
              this.username = databaseUser.fullName;
            }
        );
      }
    });
  },
  data() {
    return {
      username: "",
    };
  },
  methods: {
    onClick(id) {
      const ids = [1, 2, 3, 4];
      ids.forEach((idElem) => {
        const element = document.getElementById("button" + idElem.toString());
        if (idElem === id) {
          element.style.background =
              "linear-gradient(to right, #24305e 97%, #f76c6c 3%)";
        } else {
          element.style.background = "";
        }
      });
    },
    async signOut() {
      try {
        await firebase.auth().signOut()
        await this.$router.push("/")
      } catch (err) {
        alert(err.message);
      }
    }
  },

  mounted() {
    this.onClick(1);
  },
};
</script>


<style>
@import "../../../assets/css/textStyles.css";

.sideBar {
  height: 100%;
  background-color: #374785;
  color: #eef4f8;
  position: absolute;
  width: 15%;
  top: 0;
  bottom: 0;
  left: 0;
}

.accountInfo {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-top: 15%;
  width: 100%;
}

.accountName {
  overflow: auto;
  word-break: break-all;
  margin-right: 5%;
  margin-left: 5%;
}

h3 {
  margin-left: 10%;
  margin-bottom: 5%;
  float: left;
}

.profilepic {
  width: 20%;
  height: 20%;
}

.account {
  margin-top: 100%;
}

.navigation {
  margin-top: 10%;
  background-color: #374785;
}

button {
  background-color: #374785;
  width: 100%;
  padding: 10px 15px 10px 30px;
  float: left;
  border: transparent;
  text-align: left;
}

button:hover {
  background-color: #24305e;
}
</style>
