<template>
  <button class="white-bold-text">
    {{ msg }}
  </button>
</template>

<script>
export default {
  name: "BlueButtonM",
  props: {
    msg: {
      type: String,
      default: 'Submit'
    }
  }

}
</script>

<style scoped>
  button {
    background: #374785;
    padding:10px 15px 10px 15px;
    width: auto;
    min-width: 100px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    border: none;
  }
</style>
