<template>
  <button class="white-small-text">
    {{ msg }}
  </button>
</template>

<script>
export default {
  name: "BlueButtonS",
  props: {
    msg: {
      type: String,
      default: 'Book a place'
    }
  }

}
</script>

<style scoped>
  button {
    background: #374785;
    padding:8px 15px 8px 15px;
    width: auto;
    min-width: 100px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    border: none;
  }
</style>
