<template>
  <button @click="buttonAction">
    <img src="@/assets/icons/redCross.svg" alt="">
  </button>
</template>

<script>
export default {
  name: "RedCancelButton",
  methods: {
    buttonAction() {

    }
  }
}
</script>

<style scoped>
button {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: 2px solid #374785;
  border-radius: 50%;
}
img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
</style>
