<template>
  <div>
    <div class="pictureRow" v-for="item in listOfPorts" :key="item.id">
      <button class="port blue-small-text" @click="openModal(item)">
        <img :src="item.picture" :alt="item.alt" class="portImage" />
        <br />
        {{ item.name }}
      </button>
    </div>
    <custom-modal v-if="show" v-model="show" @confirm="confirm" @cancel="cancel">
        <template v-slot:title></template>
        
        <div class="text">
        <h1 class="blue-bold-header">{{ portData.name }} Port</h1>
        <h3 class="blue-big-text">{{portData.coordinates}}</h3>
        <h2 class="blue-big-text"> Address </h2>
        <h3 class="blue-mid-text"> {{portData.address}} </h3>
        <h2 class="blue-big-text"> Contact info  </h2>
        <h3 class="blue-mid-text"> Phone: {{portData.mobile}} </h3>
        <h3 class="blue-mid-text"> Email: {{portData.email}} </h3>
        <h3 class="blue-mid-text"> Radio: {{portData.radio}} </h3>
        <h3 class="blue-mid-text"> {{portData.webpage}} </h3>
      </div>
      <div class="picAndButton">
        <img :src="portData.picture" :alt="portData.alt" class="modalImage" />
        <div class="buttonDiv">
        <blue-button-m @click="confirm()" msg="Book a place"></blue-button-m>
        </div>
        </div>
      </custom-modal>
  </div>
</template>

<script>
import CustomModal from "@/BoatOwner/components/CustomModal.vue";
import BlueButtonM from '../../shared/components/buttons/BlueButtonM.vue'

export default {
  props: {
    listOfPorts: Array,
  },
  components: {
    CustomModal,
    BlueButtonM,
  },
  methods: {
    confirm() {
      this.$router.push("/book");
      this.$store.commit("change", this.portData.name)
      this.show = false;
      close();
    },
    cancel(close) {
      window.location.reload()
      // some code...
      close();
    },
    openModal(data) {
      this.portData = data
      this.show = true
    },
  },
  data() {
    return { show: false, portData:null };
  },
};
</script>

<style scoped>
@import "../../assets/css/textStyles.css";

.port {
  background-color: #eef4f8;
  border-radius: 10px;
  border: 0;
  width: 160%;
}
div{
  display: flex;
  flex-direction: row;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.picAndButton {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 50px 0 0 140px;
}
.pictureRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.portImage {
  object-fit: cover;
  width: 100%;
  height: 105px;
  padding-top: 3px;
}
.modalImage {
  object-fit: cover;
  width: 400px;
  height: 300px;
  margin-top: 50px;
  border-radius: 10px;
}
h1{
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}
h2{
  text-align: left;
  padding: 0 0 0 10px;
}
h3 {
  text-align: left;
  margin:0;
  padding: 0 0 0 10px;

}
</style>
