<template>
  <div class="main">
    <button class="portNameButton">{{ portName }}</button>
    <div class="portMap">
      <div class="portRow">
        <div v-for="place in firstHalf" :key="place.id">
          <Place
              @click="openModal(place)"
              v-bind:placeId="place.id"
              :booked="place.booked"
          />
        </div>
      </div>
      <div class="rectangle"></div>
      <div class="portRow">
        <div v-for="place in secondHalf" :key="place.id">
          <Place
              @click="openModal(place)"
              v-bind:placeId="place.id"
              :booked="place.booked"
          />
        </div>
      </div>
    </div>
    <custom-modal
        v-if="show && !placeData.booked"
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="text">
        <h1 class="blue-bold-header">Booking details</h1>
        <h2 class="blue-big-text">Place info</h2>
        <h3 class="blue-mid-text">Width: {{ placeData.width }} m</h3>
        <h3 class="blue-mid-text">Depth: {{ placeData.depth }} m</h3>
        <h3 class="blue-mid-text">Length: {{ placeData.length }} m</h3>
        <h2 class="blue-big-text">Booking info</h2>
        <h3 class="blue-mid-text">Price: {{ placeData.price * numberOfDays }} €</h3>
        <h3 class="blue-mid-text">Start date: {{ startDate }}</h3>
        <h3 class="blue-mid-text">End date: {{ endDate }}</h3>
      </div>
      <div class="picAndButton">
        <img :src="logo" alt="logo"/>
        <div class="buttonDiv">
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, 4)"
              msg="Pay with invoice"
              class="payButton"
              id="invoice"
          ></blue-button-m>
          <blue-button-m
              @click="confirm(placeData.id, startDate, endDate, placeData.price * numberOfDays, 4)"
              msg="Pay in cash"
              class="payButton"
              id="cash"
          ></blue-button-m>
        </div>
      </div>
    </custom-modal>
    <custom-modal
        v-if="show && placeData.booked"
        v-model="show"
        @confirm="confirm"
        @cancel="cancel"
    >
      <template v-slot:title></template>
      <div class="alreadyBooked">
        <h1 class="blue-bold-header bookedplace">
          Sorry this place has been already booked
        </h1>
        <blue-button-m
            @click="cancel"
            msg="Choose another place"
            class="choose"
        ></blue-button-m>
      </div>
    </custom-modal>
  </div>
</template>

<script>
import Place from "./Place.vue";
import BlueButtonM from "../../../shared/components/buttons/BlueButtonM.vue";
import CustomModal from "../../../BoatOwner/components/CustomModal";
import firebase from "../../../../../portbooker-backend/firebase";
import {BookingsService} from "../../../../../portbooker-backend/services/BookingsService";

export default {
  components: {Place, CustomModal, BlueButtonM},
  name: "Port",
  props: {
    portName: {
      type: String,
      default: "",
    },
    placesData: Array,
    startDate: String,
    endDate: String,
    showPrice: Boolean,
    numberOfDays: Number,
  },
  computed: {
    firstHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);
      return this.placesData.slice(0, half);
    },
    secondHalf: function () {
      const size = this.placesData.length;
      const half = Math.ceil(size / 2);

      return this.placesData.slice(half);
    },
  },
  methods: {
    async confirm(placeId, startTime, endTime, price, passengers) {
      const currentUser = firebase.auth().currentUser.uid;
      const newBooking = new BookingsService(currentUser, placeId, startTime, endTime, price, passengers, this.portName);
      await newBooking.createBooking(this.portName);

      await this.$router.push("/success");
      this.show = false;
      close();
    },
    cancel(close) {
      this.show = false;
      close();
    },
    openModal(data) {
      if (this.numberOfDays) {
        this.placeData = data;
        this.show = true;
      } else {
        alert("Fill dates for prices");
      }
    },
  },

  data() {
    return {
      show: false,
      placeData: null,
      logo: require("@/assets/portbooker.png"),
    };
  },
};
</script>

<style scoped>
.payButton {
  margin: 10px;
}

.choose {
  margin: 10px;
}

.alreadyBooked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.picAndButton {
  margin: 50px 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px 0 0 10px;
}

.rectangle {
  height: 4rem;
  width: 32rem;
  background-color: #24305e;
  border-radius: 10px;
  border: 0;
  border-radius: 0em 0.5em 0.5em 0em;
}

.portMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  animation: float 5s infinite;
  background-color: white;
}

.portNameButton {
  color: #eef4f8;
  font-weight: 300;
  background-color: #24305e;
  padding: 11rem 3rem;
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 9rem;
}

.bookedplace {
  text-align: center;
  align-items: center;
}

h1 {
  padding: 10px 10px 10px 10px;
  text-align: left;
  margin: 5px 0 5px 0;
}

h2 {
  text-align: left;
  padding: 0px 0px 0px 10px;
}

h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 3px 0px 3px 10px;
}

img {
  width: 300px;
}
</style>

