<template>
  <div>
    <SideBar/>
    <UpcomingBTable/>
    <PreviousBTable/>
  </div>
</template>

<script>
import UpcomingBTable from "../components/MyBookingComponents/UpcomingBTable.vue";
import PreviousBTable from "../components/MyBookingComponents/PreviousBTable";
import SideBar from "../BoatOwner/components/Sidebar/index.vue";

export default {
  name: "MyBookings",
  components: {
    UpcomingBTable,
    PreviousBTable,
    SideBar,
  }
};
</script>

<style scoped>
@import "../assets/css/textStyles.css";

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

div{
  margin-left: 15%;
}

input {
  margin: 10px;
}

a {
  font-weight: 400;
}
</style>
