<template>
  <div class="entire-component">
    <div v-if="error" class="error">{{ error.message }}</div>
    <img :src="blueLogo" class="logo-image" alt="PortBooker"/>
    <div class="login-component">
      <div class="formbg-outside">
        <div class="form-background">
          <div class="formbg-inside blue-bold-text">
            <span class="welcome-message blue-bold-text">Register an account</span>
            <form @submit.prevent="pressed" id="login-form">
              <div class="first-column">
                <div class="fill-field field">
                  <label class="blue-small-text">Full name</label>
                  <input
                      type="text"
                      v-model="fullName"
                      name="fullName"
                      placeholder="Full name..."
                  />
                </div>
                <div class="fill-field field">
                  <label class="blue-small-text">Email</label>
                  <input
                      type="email"
                      v-model="email"
                      name="email"
                      placeholder="Email..."
                  />
                </div>
                <div class="fill-field field">
                  <div class="password-field">
                    <label class="blue-small-text">Password</label>
                  </div>
                  <input
                      type="password"
                      v-model="password"
                      name="password"
                      placeholder="Password..."
                  />
                </div>
                <div class="fill-field field">
                  <label class="blue-small-text">Phone number</label>
                  <input
                      type="tel"
                      v-model="phone"
                      name="phone"
                      placeholder="Phone number..."

                  />
                </div>
              </div>
              <div class="second-column">
                <div class="fill-field field">
                  <label class="blue-small-text">Name of your boat</label>
                  <input
                      type="text"
                      v-model="boatName"
                      name="boatName"
                      placeholder="Name..."
                  />
                </div>
                <div class="fill-field field">
                  <label class="blue-small-text">Model of your boat</label>
                  <input
                      type="text"
                      v-model="boatModel"
                      name="boatModel"
                      placeholder="Model..."
                  />
                </div>
                <div class="fill-field field">
                  <label class="blue-small-text">Registry number of your boat</label>
                  <input
                      type="text"
                      v-model="registryNumber"
                      name="registryNumber"
                      placeholder="Registry number..."
                  />
                </div>
                <div class="measures">
                  <div class="fill-field field number-input">
                    <label class="blue-small-text">Width</label>
                    <input
                        type="number"
                        v-model="width"
                        name="width"
                        min="0" max="99"
                        step="0.01"
                        placeholder="m"
                    />
                  </div>

                  <div class="fill-field field number-input">
                    <label class="blue-small-text">Length</label>
                    <input class="number-input"
                           type="number"
                           v-model="length"
                           name="length"
                           min="0" max="99"
                           step="0.01"
                           placeholder="m"
                    />
                  </div>
                  <div class="fill-field field number-input">
                    <label class="blue-small-text">Depth</label>
                    <input class="number-input"
                           type="number"
                           v-model="depth"
                           name="depth"
                           min="0" max="99"
                           step="0.01"
                           placeholder="m"
                    /></div>
                </div>
                <BlueButtonL
                    type="submit"
                    method="post"
                    msg="Register"
                    name="Register"
                    class="submit-button"
                />
              </div>

            </form>
          </div>
        </div>
        <div class="footer-link">
          <span class="blue-small-text">
            Already have an account?
            <router-link to="/">
              <a class="blue-bold-text" id="sign-up-underline">Log in</a>
            </router-link>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BlueButtonL } from "../../shared/components/buttons";
import firebase from "../../../../portbooker-backend/firebase";
import { addBoat } from "../../../../portbooker-backend/services/BoatsService"
import { addUser } from "../../../../portbooker-backend/services/UsersService";

require("firebase/auth");
export default {
  name: "loginComponent",
  components: { BlueButtonL },
  data: function () {
    return {
      blueLogo: require("@/assets/portbookerLogoBlue.svg"),
      password: "",
      email: "",
      error: "",
      fullName: "",
      phone: "",
      boatName: "",
      boatModel: "",
      registryNumber: "",
      width: "",
      length: "",
      depth: ""

    };
  },
  methods: {
    async pressed() {
      try {
        await firebase
            .auth()
            .createUserWithEmailAndPassword(this.email, this.password).then(cred => {
              addBoat(this.registryNumber, this.boatName, this.boatModel, this.width, this.length, this.depth)
              addUser(cred.user.uid, this.fullName, this.phone, this.registryNumber)
            });
        await this.$router.push("/browse");
      } catch (err) {
        alert(err);
      }
    },
  },
};
</script>
<style scoped>
@import "../../assets/css/textStyles.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

#sign-up-underline {
  text-decoration: underline;
}

h1 {
  letter-spacing: -1px;
}

.entire-component {
  z-index: 1;
}

.number-input {
  margin: 0 3px;
}

a {
  text-decoration: unset;
}

.fill-field {
  padding-bottom: 24px;
}

.footer-link {
  padding-top: 24px;
}

.welcome-message {
  padding-bottom: 10px;
}

a:visited {
  color: #24305e;
}

.logo-image {
  padding-bottom: 12px;
  width: 35%;
}

.formbg-inside {
  padding: 20px 40px 10px 40px;
}

form {
  display: flex;
  justify-content: space-between;
}

.measures {
  display: flex;
  justify-content: space-between;
}

.formbg-outside {
  padding-bottom: 0;
}

.login-component {
  box-sizing: border-box;
  position: absolute;
  justify-content: center;
  background: transparent;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.submit-button {
  width: 100%;
}

.form-background {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 415px;
  height: 100%;
  max-height: 450px;
  min-height: 415px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0,
  rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

span {
  display: block;
  line-height: 20px;
}

label {
  margin: auto 0 0px 0;
  text-align: left;
}

.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}

.password-field {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.first-column {
  margin: 0 10px;
}

.second-column {
  margin: 0 10px;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212);
  background-color: rgb(255, 255, 255);
  box-shadow: #3c4257 0 0 0 1px;

}


input[method="post"] {
  background-color: rgb(84, 105, 212);
  border: solid 1px rgba(60, 66, 87, 0.16);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-link span {
  text-align: center;
}
</style>
